<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/channel_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${API_KEY}" />

        <service android:name=".service.GPSService"/>
        <service android:name=".service.AlertService"
            android:exported="true"
            android:enabled="true"/>

        <activity
            android:name=".ForgetPassword"
            android:exported="false"/>
        <activity
            android:name=".ChatActivity"
            android:exported="false"/>
        <activity
            android:name=".CommentActivity"
            android:exported="false"/>
        <activity
            android:name=".SignIn"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration"
            android:exported="false"/>
        <activity
            android:name=".Search"
            android:exported="false"/>
        <activity
            android:name=".LocationInfo"
            android:exported="false"/>
        <activity android:name=".CreatePlan"
            android:exported="false"/>
        <activity
            android:name=".DetailedPost"
            android:exported="false">
        </activity>
        <activity
            android:name=".DetailedPlan"
            android:exported="false">
        </activity>
        <activity android:name=".AddDestination"
            android:exported="false">
        </activity>
        <activity android:name=".InviteFriends"
            android:exported="false">

        </activity>
        <activity android:name=".ViewMapActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ViewProgressTripMap"
            android:exported="false">
        </activity>
    </application>

</manifest>